<% if user_signed_in? && current_user.points > 69 %>

<div class="addlyric">
 <h1>Add Lyric To Experiment</h1>

</div>

<%= render 'form' %>

<div class="formpage-footer">
<%= link_to 'Back', campaign_path(@campaign), class: "back-button" %>

<%= link_to 'More Experiments', campaigns_path, class: "back-button" %>

</div>

<% else %>

Get ya points up!

<% end %>

<%= render 'layouts/footer' %>

