
<section class="lyric-section">

  <div id="lyrics" class="transitions-enabled">
		<% @users.each do |user| %>

			 <div class="container-md">
					<%= image_tag user.avatar.url(:thumb) %>
				   <div class="user-row"><%= link_to user.username, "/profiles/#{user.username}" %></div>
				   <div class="user-row"><%= user.bio %></div>
				   <div class="user-row"><%= user.location %></div>
		   	</div>


		<% end %>
	</div>

</section>
