
<section class="profile-section-index">

  <div id="profiles" class="transitions-enabled">
		<% @users.each do |user| %>

			 <div class="container-profiles">
					<%= image_tag user.avatar.url(:thumb) %>
				   <div class="user-row"><%= link_to user.username, "/profiles/#{user.username}" %></div>
				   <div class="user-row"><%= user.passion %></div>
				   <div class="user-row"><%= user.location %></div>
		   	</div>


		<% end %>
	</div>

</section>
