
			<div class="comment">
				<%= image_tag comment.user.avatar.url(:mini) %>
				<p class="username"> <%= comment.user.username %></p></br>
			
				<p class="content"> <%= comment.content %></p>
				<p class="time-created"><%= time_ago_in_words(comment.created_at) %></p>
				<hr />
			</div>

