<% if can? :manage, :all %>
<div class="addlyric">
<h1>Edit Video</h1>
</div>

<%= render 'form' %>

<div class="formpage-footer">
<%= link_to 'Back', profile_url(:id => current_user.username), class: "back-button" %>
</div>

<% end %>