<div class="works-top-temp">
	<h1>Legal Terms</h1>
	<div id="legalterms" class="howitworks-para">
		<p>All submitted items (“Original Work”) are automatically watermarked to protect artists from unauthorized duplication.</p>

		<p>If submitted item is selected, the creator of the original work (“Artist”) agrees to transfer exclusive rights to use the original work to the company that produced this platform (“Rhymes & Designs”). Reproduction of the original work must be authorized by an official manager of Rhymes & Designs.</p>

		<p>In exchange for the transfer of rights explained above Rhymes & Designs agrees to:</p>
		<ol>
		<li>Pay artists 50% of gross profit on each item printed containing their original work for a period of 6 months after delivery of first payment, or until royalty totals equal $1500. After 6 months or reaching $1500 in total royalties, royalty becomes 20% of gross profit.</li>
		<li>Promote artists and their product at a standard set by Rhymes & Designs’ prior promotional campaigns.</li>
		<li>Provide discounted merchandise to the artists and their immediate team members.</li>

		</ol>

		<p>Artists maintains the right to use the original work for non-commercial purposes [i.e. Portfolio, Social media (item must be watermarked for Social media use)]</p>

		<p>Both Rhymes & Designs and the artist retain the right to modify the original work prior to printing. Both parties must agree to the changes in order for the modified work to be printed, if parties do not agree, the original work will be printed.</p>

		</br></br>
		<p><strong>Printing Requirements</strong></p>

		<p>If the original work is selected to be printed, the artist will send in “print ready” files.</p>

		<p>Print ready files must be at least 300 dpi or Vector Format. If your file is not 300 dpi, you cannot just increase the resolution of the file. This is called "upsampling" and will result in a blurry image. If you are creating your file in Adobe Illustrator or another Vector-based software, just size your image to the size you want to print it as.</p>

		<p>We accept the following File Types:</p>
		<ul>
		<li>Illustrator (.AI)</li>
		<li>Vector (.EPS)</li>
		<li>Photoshop (.PSD)</li>
		<li>PDF</li>
		<li>JPEG</li>
		<li>TIFF</li>
		</ul>

		<p>We prefer .AI or .EPS files first because Vector images can be scaled without affecting quality. We prefer .PSD or .PDF second & .JPG or .TIFF last.</p>

		<p>If you are creating your file in Adobe Illustrator, you will need to choose "Create Outlines" on all your text. This allows us to open the file without requiring the font.</p>

	</div>

</div>



<%= render 'layouts/footer' %>