
<div class="works-top-temp">
	<h1>FAQs</h1>
	<div id="faqs" class="howitworks-para">
		<dl>
			<dt>How Do I Contact The R&D Team?</dt>
			<dd>You can contact us in a few ways. We will respond asap. Make sure to read thru this page which probably have your answer to your question.</br>
				Email us at hello@rhymesanddesigns.com.</br>
				Tweet us at @RhymesDesigns
			</dd>
			<dt>How Do I Get My Art Submissions Chosen For The Products?</dt>
			<dd>All artwork submitted is voted and talk about by the community.  The R&D teams chooses the community favorites and ones that fits the experiment theme.  You have the best chance of getting chosen if you develop an unique idea that fits the experiment, looks great on a t-shirt and you promote to your fanbase to increase your votes.  
			</dd>
			<dt>I Ordered A Shirt, How Long Should It Take?</dt>
			<dd>Orders can take around 1-2 days to fulfill and 3-5 days to ship in the USA.  Most orders will be shipped from LA.</dd>
			<dt>Is Ordering and My Payment Information Secure?</dt>
			<dd>Absolutely. We use Paypal and Stripe to handle all of our ordering and payment needs.  Paypal and Stripe are used by some of the top ecommerce sites in the country and provide top security features.  Our team is not exposed to any of your payment information.</dd>
			<dt>I Placed An Order And Still Haven't Received.</dt>
			<dd>Check your tracking number for update on shipment.  Email us asap if your tracking number gives no update.</dd>
			<dt>How Are The Tees Printed?</dt>
			<dd>Our apparel is created with the latest in garment printing technology and our inks are water based and eco-friendly. This makes the feel much softer than traditional screen printed shirts, but just as durable!</dd>
					
		</dl>
	</div>

</div>


<%= render 'layouts/footer' %>

