<%= simple_form_for([@adminlyric, @adminlyric.commentlyrics.build]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content, label: "Reply to thread" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Comment", class: "button" %>
  </div>
<% end %>