<div class="addlyric">
 <h1>Submit Design To Experiment</h1>

</div>

<%= render 'form' %>

<div class="formpage-footer">
<%= link_to 'Back', campaign_path(@campaign), class: "back-button" %>

<%= link_to 'More Experiments', campaigns_path, class: "back-button" %>

</div>
