<% if can? :manage, :all %>

<div class="addlyric">
<h1>Edit post</h1>
</div>

<%= render 'form' %>

<div class="formpage-footer">
<%= link_to 'Blog', posts_path, class: "back-button" %>
</div>

<% end %>