


<div class="addlyric">
<h1>Add Post To Community Blog</h1>
</div>

<%= render 'form' %>

<div class="formpage-footer">
<%= link_to 'Blog', posts_path, class: "back-button" %>
</div>


<%= render 'layouts/footer' %>


