  <div id="campaigns" class="transitions-enabled">
    <% @campaigns.each do |campaign| %>
    <div class="campaign-md">
    	<%= link_to simple_format(campaign.title), campaign %>
      <%= image_tag campaign.image.url(:medium) %>
 
        <br />
        <%= link_to simple_format(campaign.description), campaign %>
        <%= simple_format(campaign.timer) %>
     
      
      </div>
    <% end %>
  </div>