  <div id="campaigns" class="transitions-enabled">
    <div class="container-md">
    	<%= @campaign.title %>
 
        <br />
        <%= simple_format(@campaign.description) %>
       <%= simple_format(@campaign.timer) %> 
     
      
      </div>
    
  </div>