/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'masonry/transitions'
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.footer-rnd {float: left; background-color: #7f8c8d; color: #fff; width: 100%; padding: 20px 10%; margin: 0 0 0 0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.footer-rnd ul {float: left; width: 30%; list-style-type: none; padding: 0 5%;}
.footer-rnd ul h1 {font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 22px; line-height: 22px;}
.footer-rnd a {color: #fff; text-decoration: none; }
.footer-rnd a:hover {color: #1cc7a6; text-decoration: none;}

a {text-decoration: none;}
a:hover {text-decoration: none;}

.adminonly {color: #ff0000 !important;}

div.navbar-header {width: 100%;}
.logo-head {float: left; width: 50px;}
.logo-head2 {float: left; max-width: 375px; min-width: 275px; width: 40%;}
  .logo-wrapper {float: left; width: auto; padding: 4px; background-color: #8e0010;}
  .navbar-brand {padding: 0 15px !important;}
  .navbar-brand2 {padding: 0 15px !important; float: left;}
  .dropdown2 .dropdown-menu {display: none;}
  .dropdown2:hover .dropdown-menu {display: inline;}
  .dropdown2 {position: relative;}
  .signup-wrapper {float: left; width: auto; padding: 15px; background-color: #8e0010; font: #fff;}
  ul.nav.navbar-nav li.dropdown2 a {font-size: 18px; line-height: 18px; color: #fff; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif;}
  ul.nav.navbar-nav li.dropdown2 a:hover {font-size: 18px; line-height: 18px; color: #1cc7a6;}
  .dropdown-menu {background-color: #1cc7a6 !important; color: #fff;}
  .icon-cart {
    background: url("//cdn.shopify.com/s/files/1/0705/8087/t/1/assets/icon-cart-small.png") no-repeat scroll 0 -20px rgba(0, 0, 0, 0) !important;}
  html.no-js body div#transparency.wrapper.clearfix div.row.p0 section#content.clearfix div.jumbotron {background-color: #006894; color: #fff;}

.simple_form {width: 50%; margin: 0 25%;}

ul.nav.navbar-nav.navbar-right li.dropdown2 img {-moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px; float: left; margin-bottom: 5px;}

.notice {font-size: 18px; color: #000; z-index: 1000; top: 100px; position: fixed; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; width: 90%; padding: 0 5%; text-align: right;}
.alert {font-size: 18px; color: #fff; z-index: 1000; top: 100px; position: fixed; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; width: 90%; padding: 0 5%; text-align: right;}

ul.nav.navbar-nav.navbar-right li.dropdown2 ul.dropdown-menu li a {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 18px; line-height: 18px; color: #fff;}
ul.nav.navbar-nav.navbar-right li.dropdown2 ul.dropdown-menu li a:hover {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 18px; line-height: 18px; color: #1cc7a6;}


//Account - Edit Profile
form#edit_user.simple_form.edit_user hr {border-width: 4px; margin-top: 5px;}
div.form-break {font-size: 24px; line-height: 24px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #bdc3c7; margin-top: 40px;}
form#edit_user.simple_form.edit_user input#user_profileimg {margin-top: 15px;}
form#edit_user.simple_form.edit_user input#user_avatar {margin-top: 15px;}
form#edit_user.simple_form.edit_user .avatar-img img {-moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;}
div.profile-box2 img {float: left; width: 100px; height: 100px; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px;}
div.profile-box2 {width: 20%; margin: 50px 0 0 5%; float: left;}
div.profile-box2 h1 {float: left; text-transform: uppercase; font-size: 24px; color: #bdc3c7;}
form#edit_user.simple_form.edit_user {float: left; width: 50%; margin: 50px 0 0 5%;}
.form-footer {float: left; width: 50%; margin: 25px 0 10px 30%;}
div.form-footer hr {border-width: 4px; margin-top: 5px;}
div.profile-box2 hr {border-width: 4px; margin-top: 5px;}

//Sign In - Log In
form#new_user.simple_form.new_user div.form-break {font-size: 24px; line-height: 24px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #bdc3c7; margin-top: 40px;}
form#new_user.simple_form.new_user hr {border-width: 4px; margin-top: 5px;}

form#new_user.simple_form.new_user {margin-top: 75px; }

.pagination > li > a, .pagination > li > span {background-color: none !important; border: none !important;}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {background-color: none !important; border: none !important;}

.pagination > li > a, .pagination > li > span {
    border: none;
    color: #337ab7;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    background-color: none !important;
}

.pagination {background-color: none;}

a.btn.btn-block.btn-social.btn-twitter {background-color: #55ACEE; border-radius: 20px; color: #fff; width: 30%; margin: 5px 35%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9;}
a.btn.btn-block.btn-social.btn-facebook {background-color: #3B5998; border-radius: 20px; color: #fff; width: 30%; margin: 5px 35%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9;}

a.btn.btn-block.btn-social.btn-twitter:hover {background-color: #55ACEE; border-radius: 20px; color: #fff; width: 30%; margin: 5px 35%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;}
a.btn.btn-block.btn-social.btn-facebook:hover {background-color: #3B5998; border-radius: 20px; color: #fff; width: 30%; margin: 5px 35%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;}

a.btn.btn-block.btn-social.btn-email {background-color: #444444; border-radius: 20px; color: #fff; width: 30%; margin: 5px 35%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9;}
a.btn.btn-block.btn-social.btn-email:hover {background-color: #444444; border-radius: 20px; color: #fff; width: 30%; margin: 5px 35%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;}

a.btn.btn-block.btn-social.btn-login {background-color: #000; border-radius: 20px; color: #fff; width: 30%; margin: 5px 35%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9;}
a.btn.btn-block.btn-social.btn-login:hover {background-color: #000; border-radius: 20px; color: #fff; width: 30%; margin: 5px 35%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;}


.logo-head-launch3 {
      display: block;
      height: auto;
      margin: 0 auto 25px auto;
      position: static;
      width: 10%;
  }

  html.wf-edo-n4-active.wf-active body form#new_user.simple_form.new_user div.form-break {display: none;}

nav.navbar.navbar-inverse.navbar-fixed-top {background-color: #000; border-color: none;}

nav.navbar.navbar-inverse.navbar-fixed-top {border: 0px solid #000;}

.shopmenu {display: none;}

ul.nav.navbar-nav.navbar-right li.navbar-brand a.active {background-color: #1cc7a6; color: #fff; border-radius: 2px; font-size: 16px;}
ul.nav.navbar-nav.navbar-right li.navbar-brand a.active:hover {background-color: #1cc7a6; color: #000; border-radius: 2px; font-size: 16px;}

li.dropdown2 ul.dropdown-menu li div.social-links a {float: left; display: inline; width: 25%; padding: 3px; margin: 0px;}
li.dropdown2 ul.dropdown-menu li div.social-links a:hover {color: #000;}

li.dropdown2 ul.dropdown-menu li div.social-links a:hover i {color: #000;}

li.dropdown2 ul.dropdown-menu li div.social-links a i {float: left; display: inline; font-size: 26px; }

li.dropdown2 ul.dropdown-menu li div.social-links {float: left; display: inline; width: 80%; margin: 0 10%;}

form.simple_form.edit_post {margin: 50px 25%;}
form#new_post.simple_form.new_post {margin: 50px 25%;}

.profile-li {padding: 3px 20px;}
li.dropdown2 ul.dropdown-menu li span.profile-li img {margin-right: 5px;}

.logo-head2-mobile {display: none !important;}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-left: 0 !important;
    margin-right: -15px;
}

div.navbar-header div#bs-example-navbar-collapse-1.navbar-collapse.collapse.in {float: left; clear: both; width: 100%;}
div.navbar-header div#bs-example-navbar-collapse-1.navbar-collapse.collapse.in ul.nav.navbar-nav.navbar-right li.dropdown2 ul.dropdown-menu {float: left; position: relative; clear: both;}
div.navbar-header div#bs-example-navbar-collapse-1.navbar-collapse.collapse.in ul.nav.navbar-nav.navbar-right li.dropdown2 {float: left; clear: both;}

@media screen and (min-width: 640px) and (max-width: 900px){

    nav.navbar.navbar-inverse.navbar-fixed-top div.container-fluid {padding: 0;}

}




@media screen and (max-width: 640px){

  .logo-head-launch3 {
      display: block;
      height: auto;
      margin: 0 auto 25px auto;
      position: static;
      width: 20%;
  }

    a.btn.btn-block.btn-social.btn-twitter {background-color: #55ACEE; border-radius: 20px; color: #fff; width: 70%; margin: 5px 15%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9;}
    a.btn.btn-block.btn-social.btn-facebook {background-color: #3B5998; border-radius: 20px; color: #fff; width: 70%; margin: 5px 15%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9;}

    a.btn.btn-block.btn-social.btn-twitter:hover {background-color: #55ACEE; border-radius: 20px; color: #fff; width: 70%; margin: 5px 15%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;}
    a.btn.btn-block.btn-social.btn-facebook:hover {background-color: #3B5998; border-radius: 20px; color: #fff; width: 70%; margin: 5px 15%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;}

    a.btn.btn-block.btn-social.btn-email {background-color: #444444; border-radius: 20px; color: #fff; width: 70%; margin: 5px 15%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9;}
    a.btn.btn-block.btn-social.btn-email:hover {background-color: #444444; border-radius: 20px; color: #fff; width: 70%; margin: 5px 15%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;}

    a.btn.btn-block.btn-social.btn-login {background-color: #000; border-radius: 20px; color: #fff; width: 70%; margin: 5px 15%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9;}
    a.btn.btn-block.btn-social.btn-login:hover {background-color: #000; border-radius: 20px; color: #fff; width: 70%; margin: 5px 15%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;}


    div.profile-box2 {width: 90%;}
    form#edit_user.simple_form.edit_user {width: 90%; margin: 5px 5%;}
    div.profile-box2 img {
        border-radius: 25px;
        float: left;
        height: 50px !important;
        width: 50px !important;}

    div.profile-box2 h1 {
        color: #bdc3c7;
        float: left;
        font-size: 20px;
        margin-left: 10px;
        text-transform: uppercase;}
    .form-footer {
        float: left;
        margin: 5px 5% 10px;
        width: 90%;}

    

    .logo-head2 {float: left; width: 375px; display: none !important;}
    .navbar-toggle {float: left !important;}
    .logo-head2-mobile {display: block !important; float: left; width: 30%; max-width: 150px; min-width: 150px;}
    .navbar-brand2 {
        float: left;
        font-size: 18px;
        height: 50px;
        line-height: 20px;
        padding: 15px;
        width: 175px;}

    .footer-rnd {float: left; background-color: #7f8c8d; color: #fff; width: 100%; padding: 20px 5%; margin: 0 0 0 0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
    .footer-rnd ul {float: left; width: 30%; list-style-type: none; padding: 0 5%;}
    .footer-rnd ul h1 {font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 16px; line-height: 16px;}
    .footer-rnd a {color: #fff; text-decoration: none; }
    .footer-rnd a:hover {color: #1cc7a6; text-decoration: none;}

    section.main-section section.home-info {display: none !important;}
    section.main-section section.profile-section-index {width: 100% !important;}
    section.main-section section.art-section {width: 100% !important;}

    div#bs-example-navbar-collapse-1.navbar-collapse.collapse.in ul.nav.navbar-nav.navbar-right li.dropdown2 ul.dropdown-menu {border-radius: 4px !important;}


}
