/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'masonry/transitions'
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.logo-head {float: left; width: 75px;}
  .logo-wrapper {float: left; width: auto; padding: 4px; background-color: #8e0010;}
  .navbar-brand {padding: 0 15px !important;}
  .dropdown2 .dropdown-menu {display: none;}
  .dropdown2:hover .dropdown-menu {display: inline;}
  .dropdown2 {
    position: relative;
}
  .signup-wrapper {float: left; width: auto; padding: 15px; background-color: #8e0010; font: #fff;}
  ul.nav.navbar-nav li.dropdown2 a {font-size: 24px; line-height: 24px; color: #fff;}
  ul.nav.navbar-nav li.dropdown2 a:hover {font-size: 24px; line-height: 24px; color: #D4D4D4;}
  .dropdown-menu {background-color: #8e0010 !important;}
  .icon-cart {
    background: url("//cdn.shopify.com/s/files/1/0705/8087/t/1/assets/icon-cart-small.png") no-repeat scroll 0 -20px rgba(0, 0, 0, 0) !important;}
  html.no-js body div#transparency.wrapper.clearfix div.row.p0 section#content.clearfix div.jumbotron {background-color: #006894; color: #fff;}

.simple_form {width: 50%; margin: 0 25%;}

ul.nav.navbar-nav.navbar-right li.dropdown2 img {-moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;}

.notice {font-size: 18px; color: #000; z-index: 1000; top: 100px; position: fixed; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; width: 90%; padding: 0 5%; text-align: right;}
.alert {font-size: 18px; color: #fff; z-index: 1000; top: 100px; position: fixed; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; width: 90%; padding: 0 5%; text-align: right;}




//Account - Edit Profile
form#edit_user.simple_form.edit_user hr {border-width: 4px; margin-top: 5px;}
div.form-break {font-size: 24px; line-height: 24px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #bdc3c7; margin-top: 40px;}
form#edit_user.simple_form.edit_user input#user_profileimg {margin-top: 15px;}
form#edit_user.simple_form.edit_user input#user_avatar {margin-top: 15px;}
html body form#edit_user.simple_form.edit_user .avatar-img img {-moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;}
html body div.profile-box2 img {float: left; width: 100px; height: 100px; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px;}
div.profile-box2 {width: 20%; margin: 50px 0 0 5%; float: left;}
html body div.profile-box2 h1 {float: left; text-transform: uppercase; font-size: 24px; color: #bdc3c7;}
form#edit_user.simple_form.edit_user {float: left; width: 50%; margin: 50px 0 0 5%;}
.form-footer {float: left; width: 50%; margin: 25px 0 10px 30%;}
div.form-footer hr {border-width: 4px; margin-top: 5px;}
div.profile-box2 hr {border-width: 4px; margin-top: 5px;}

//Sign In - Log In
form#new_user.simple_form.new_user div.form-break {font-size: 24px; line-height: 24px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #bdc3c7; margin-top: 40px;}
form#new_user.simple_form.new_user hr {border-width: 4px; margin-top: 5px;}

html body form#new_user.simple_form.new_user {margin-top: 75px; }







