// Place all the styles related to the Arts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_rating.simple_form.new_rating {width: auto; margin: 0 auto;}

.container-art {width: 80%; margin: 25px 10%; float: left;}
#arts {margin: 0 auto;}
div.container-art a img {width: 100%; height: auto;}

div.container-art2 {float: left; width: 70%; height: auto; padding: 0;}
div.container-art2 img {width: 100%; height: auto;}

.container-small {height: 250px !important; overflow: hidden; float: left; width: 70%; padding: 0;}
.container-small2 {height: 250px !important; margin-bottom: 250px; overflow: hidden; float: left; width: 70%; padding: 0;}

div.container-art ul {list-style:none; color: #000; clear: both;}
div.container-art ul li {float: left; padding: 5px; width: auto;}

span.votebutton a {float: right; text-align: right;}

.art-section {position: absolute; left: 0; border-top: 0px solid #fff; width: 80%; margin: 0 0 0 0; padding: 25px 0; z-index: 10; background-color: #fff;}

.header-art {float: left; margin-top: 100px; width: 40%; text-align: center; padding: 0 10%;}

.main-section {position: absolute; width: 100%; margin: 0; z-index: 10; background-color: none;}

div.header-art h1 {float: left; width: 100%; text-align: center; color: #000; font-size: 38px; line-height: 38px; font-family: 'Fredoka One', cursive; text-shadow: 1px 1px #bdc3c7; margin: 0 0 10px 0;}
div.header-art h2 {width: 100%; text-align: center; float: left; margin: 0; color: #000; margin: 10px 0; font-size: 22px; line-height: 22px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
div.header-art p {float: left; width: 100%; text-align: center; padding: 5px 20%; font-size: 18px; line-height: 20px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000;}

div.header-art h2 a {width: auto; border: 2px solid #bdc3c7; color: #bdc3c7; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; padding: 5px 10px;}
div.header-art h2 a:hover {width: auto; border: 2px solid #000; color: #000; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; padding: 5px 10px; text-decoration: none;}
div.header-art p a {color: #bdc3c7;}
div.header-art p a:hover {color: #000; text-decoration: none;}


.css1 {font-size: 0px;}
.css2 {font-size: 0px;}
.css3 {font-size: 0px;}
.css4 {font-size: 24px;}
.tagcloud {float: left; color: #000; width: 40%; margin: 100px 5% 5px 5%; font-family: 'Fredoka One', cursive;}
.tagcloud a {color: #000; text-decoration: none;}
.tagcloud a:hover {color: #1cc7a6; text-decoration: none;}


.art-box {width: 100%; border-top: 2px solid #000;}
.vote-box {width: auto; font-size: 30px; color: #000; padding: 10px 25px 10px 10px; float: left; text-align: center; line-height: 32px; border-right: 2px solid #000;}
.rate-box {width: auto; font-size: 30px; color: #000; padding: 10px 10px 10px 25px; float: left; text-align: center; line-height: 32px; border-left: 2px solid #000;}

.art-box2 {width: 100%; border-top: 2px solid #000;}
.vote-box2 {width: auto; font-size: 30px; color: #000; padding: 10px 25px 10px 10px; float: left; text-align: center; line-height: 32px; border-right: 2px solid #000;}
.rate-box2 {width: auto; font-size: 30px; color: #000; padding: 10px 10px 10px 25px; float: left; text-align: center; line-height: 32px; border-left: 2px solid #000;}

html body div.container-show div.container-art img {width: 100%; height: auto;}

a.popoverExampleTwo img {width: auto !important; height: auto;}

.voted-color {background-color: #ff0000;}

.sort-box {
    color: #000;
    float: left;
    margin: 100px 5% 5px;
    width: 40%;
}

section.art-section div#arts.transitions-enabled.masonry {float: left;}
div.center {
    float: left;
    margin: 0 30%;
    width: auto;
}

div.container-show2 {width: 100%; height: auto; float: left; color: #000; margin: 100px 0; padding: 0 10%;}
div.container-show2 ul {list-style: none; color: #000; clear: both; float: left;}
div.container-show2 ul li {float: left; padding: 2px 5px; width: auto;}
div.container-show2 ul li img {-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin: 0 5px;}
div.container-show2 ul li a {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; text-shadow: none;}
div.container-show2 ul li a:hover {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #1cc7a6; text-shadow: none; text-decoration: none;}

.vote-button {float: left; padding: 15px 25px; margin: 5px 0; font-size: 20px; font-weight: bold; color: #fff; background-color: #1cc7a6; border-radius: 5px; opacity: 1;}
.vote-button:hover {float: left; padding: 15px 25px; margin: 5px 0; font-size: 20px; font-weight: bold; color: #000; background-color: #1cc7a6; border-radius: 5px; opacity: .8; }

div.container-extra ul li ul.vote-column  {width: 100%; float: left; margin: 0; padding: 0;}
div.container-extra ul li ul.vote-column a li {width: 100%; float: left; margin: 0; padding: 0;}

div.container-extra ul li img {
    border-radius: 10px;
    margin: 0 5px;
}

div.container-extra ul li a{
    color: #000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-shadow: none;
}


div.container-extra ul li a:hover {
    color: #1cc7a6;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-shadow: none;
    text-decoration: none;
}

div.container-comment h2.comment_count {
    font-size: 14px;
}

div.container-extra ul {margin-bottom: 5px;}
div.container-extra ul li h2 {margin: 5px 0;}

div.container-extra ul li ul.votebox2 {padding: 0; margin: 0 0 5px 0; width: 100%;}
div.container-extra ul li ul.votebox2 li {padding: 0; margin: 0 0 0 0; }


.votebox3 {font-weight: bold;}


