// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.campaign-md {width: 100%; margin: 0px; padding: 25px 10%; float: left;}
#campaigns {margin: 0 auto;}
#campaigns2 {margin: 0 auto;}
#campaigns3 {margin: 0 auto;}

.free-campaign {float: left; width: 800px; margin: 10px;}

.campaign-img {float: left; margin: 0; padding: 0; width: 100%;}
.campaign-img img {float: left; width: 100%; height: auto; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;}

.campaign-info {float: left; margin: 0; padding: 5px 0; width: 100%; background-color: whitesmoke; }
.campaign-info ul {list-style: none; width: 95%; float: left; padding: 0 0 0 5%; margin: 0;}
.campaign-info ul li {padding: 2px 0; width: 100%; float: left;}


.campaign-show {float: left; width: 100%; padding: 0; margin: 0;}
.campaignshow-img {float: left; width: 100%;}
.campaignshow-img img {float: left; width: 100%; height: auto;}
.campaignshow-info {float: left; width: 100%; }
.campaignshow-desc {float: left; width: 100%; padding: 10px 10%;}

.campaign-lyric {float: left; width: 100%; margin: 0; background-color: #fff; padding: 25px 10% 25px 10%;}
.campaign-lyric-each {float: left; width: 100%;}
.campaign-lyric-each ul {list-style:none; color: #000; clear: both; width: 100%;}
.campaign-lyric-each ul li {float: left; padding: 10px; width: auto;}


.campaign-lyric-each a {color: #000; font-size: 30px; line-height: 34px; text-align: left; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif;}
.campaign-lyric-each a:hover {color: #95a5a6; font-size: 30px; line-height: 34px; text-align: left; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; text-decoration: none;}

.campaign-lyric-each ul li img {width: auto; border-radius: 10px; margin: 0 5px;}

.campaign-lyric-each ul li a {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; text-shadow: none;}
.campaign-lyric-each ul li a:hover {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #1cccaa; text-shadow: none;}

#campaign-art {margin:0 auto;}
.campaign-art-each {float: left; width: 200px; margin: 2px;}
.campaign-art-each img {float: left; width: 100%; height: auto; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px}


.art-container {width: 100%; margin: 0 0 0 0; float: left; padding: 25px 10%; background-color: #fff;}

.campaign-header {width: 100%; margin: 0; padding: 0; float: left;}
.campaign-header img {width: 100%; height: auto;}
.admin-footer {float: left; width: 100%;}

.timer-button {float: left; background-color: #34495e; color: #fff; width: 40%; border: 0px solid #000; border-radius: 10px; padding: 5px; text-align: center; margin: 10px; min-height: 100px; height: auto;}

div.disabled a.submitbutton {display: none;}



.open-campaign {width: 100%; padding: 10px 15%;}

.campaign-section {float: left; width: 100%; margin: 0 0; padding: 0 10%;}
.campaign-section2 {position: absolute; left: 0; margin: 50px 0; width: 80%;}

.header-campaign {float: left; margin-top: 75px; width: 100%; text-align: center; padding: 0 10%;}

div.header-campaign h1 {float: left; width: 100%; text-align: center; color: #000; font-size: 38px; line-height: 38px; font-family: 'Fredoka One', cursive; text-shadow: 1px 1px #bdc3c7; margin: 0 0 10px 0;}
div.header-campaign h2 {width: 100%; text-align: center; float: left; margin: 0; color: #000; margin: 10px 0; font-size: 22px; line-height: 22px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
div.header-campaign p {float: left; width: 100%; text-align: center; padding: 5px 20%; font-size: 18px; line-height: 20px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000;}

div.header-campaign h2 a {width: auto; border: 2px solid #bdc3c7; color: #bdc3c7; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; padding: 5px 10px;}
div.header-campaign h2 a:hover {width: auto; border: 2px solid #000; color: #000; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; padding: 5px 10px; text-decoration: none;}
div.header-campaign p a {color: #bdc3c7;}
div.header-campaign p a:hover {color: #000; text-decoration: none;}



html body section.campaign-section h1 {width: 100%; text-align: center; font-size: 24px; line-height: 24px; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000;}

div.campaign-info ul li strong a {width: 100%; text-align: left; color: #000; font-size: 18px; line-height: 18px; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; }
div.campaign-info ul li strong a:hover {width: 100%; text-align: left; color: #1cccaa; font-size: 18px; line-height: 18px; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; text-decoration: none;}
div.campaign-info ul li {font-size: 14px; line-height: 14px; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif;}

section.campaign-section2 img {width: 100%;}

div#campaigns2 div.tab-box ul.nav.nav-tabs {
	border-bottom: 1px solid #dddddd;
    margin: 0 auto;
    padding: 0 25%;
    width: 100%;}

.button-box {float: left; width: 90%; padding: 0 5%;}
div.timer-button a.submitbutton {color: #fff; padding: 10px 4px; border-radius: 10px; margin-top: 10px;}
div.timer-button a.submitbutton:hover {color: #1cccaa; text-decoration: none;}

.campaignshow-info div.button-box div.timer-button h4 {margin: 5px 0;}
.button-box div.timer-button span.timer-line {margin: 0 0 10px 0;}

.how-campaign {float: left; width: 70%;}
div.how-campaign ul {width: 100%; float: left;}
div.how-campaign p {width: 100%; float: left;}

div.how-campaign a {float: left; margin: 0 10px; background-color: none; border: 3px solid #fff; border-radius: 5px; padding: 15px 10px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #fff; font-size: 18px; line-height: 18px;}
div.how-campaign a:hover {float: left; background-color: none; border-radius: 5px; padding: 15px 10px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; font-size: 18px; line-height: 18px;}
div.how-campaign h2 {margin-top: 0; text-shadow: 1px 1px #000;}

.campaign-add {float: left; background-color: #1cc7a6; color: #fff; width: 100%; margin: 0; padding: 5px 5%; min-height: 200px; margin: 0 0 15px 0;}

div.campaign-show div.campaignshow-info h1 {padding: 0 10%;}

.timer-info {float: left; padding: 25px 5px; font-size: 20px; line-height: 20px; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif;}

.next-prev {color: #fff; position: absolute; right: 0; padding: 5px; }
.next-prev a {color: #fff; text-decoration: none;}

.campaign-status {float: left; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #fff; font-size: 24px; line-height: 24px; margin: 15px 0;}

.campaign-boxinfo {float: left; width: 100%; padding: 10px 0;}
.campaign-halfbox {float: left; width: 60%; padding: 0; margin: 0;}
.campaign-halfbox2 {float: left; width: 40%; padding: 0; margin: 0;}

div.campaign-add div.campaign-halfbox div.how-box2 {padding: 0 5%;}

div.campaignshow-info div.campaign-add div.campaign-halfbox h1 {padding: 0; font-size: 24px; line-height: 24px;}

div.timer-box2.disabled span.add-timer {display: inherit; padding: 25px 5px; float: left; font-size: 20px; line-height: 20px; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif;}

div.timer-box2 span.add-timer { display: none; padding: 25px 5px; float: left; font-size: 20px; line-height: 20px; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif;}
.chosen-box {width: 100%; float: left; padding: 0 10%;}
.quote-span {padding: 0 0 50px 0; float: left; color: #1cc7a6; font-size: 76px; line-height: 26px; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif;}
.quote-span2 {padding: 0 0 0 0; float: right; color: #1cc7a6; font-size: 76px; line-height: 56px; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif;}

div.chosen-box h1 {float: left; margin: 25px; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; color: #fff; width: auto; padding: 6px 12px !important; background-color: #1cc7a6; border-radius: 5px;}

div.chosen-box div.campaign-lyric-each {float: left; }

div.campaign-lyric-each a.chosen_lyric { width: 80%;}

.how-image2-mobile {display: none; width: 30%;}

@media screen and (max-width: 640px){
	.campaign-section2 {width: 100% !important;}
	.home-info {display: none !important;}

	section.campaign-section {width: 100%; padding: 0;}
	div#campaigns2 div.campaign-md {padding: 25px 5%;}
	div#campaigns3 div.campaign-md {padding: 25px 5%;}
	div.campaign-info ul li {font-size: 12px; line-height: 12px;}
	div.campaign-info ul li strong a {font-size: 16px; line-height: 16px;}
	div.campaign-info ul li strong a:hover {font-size: 16px; line-height: 16px;}
	div#works-exp2.works-top div.how-campaign p.para2 {width: 75%;}
	.how-image2 {display: none !important;}
	.how-image2-mobile {display: inline !important; float: left; width: 25% !important;}

	div.works-top div.how-campaign {width: 100% !important;}

	div.campaign-show div.campaignshow-info div.campaign-add div.campaign-halfbox h1 {font-size: 20px; line-height: 20px; margin: 30px 0 0 0 !important;}
	div.campaign-halfbox div.campaign-status {font-size: 18px; line-height: 18px; margin: 5px 0 0 0 !important;}
	div.how-box2-mobile div.timer-box2 div.timer-info {font-size: 16px; line-height: 16px;}
	div.campaign-halfbox2 div.campaign-boxinfo h3 {font-size: 18px; line-height: 18px; margin: 0 0 5px 0 !important;}
	div.campaign-add div.campaign-halfbox2 div.campaign-boxinfo p {font-size: 14px; line-height: 16px;}
	div.campaignshow-info div.campaign-add div.campaign-halfbox {width: 100% !important;}
	div.campaignshow-info div.campaign-add div.campaign-halfbox2 {width: 100% !important;}
	}



