// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.campaign-md {width: 400px; margin: 10px;}
#campaigns {margin: 0 auto;}
#campaigns2 {margin: 0 auto;}
#campaigns3 {margin: 0 auto;}

.free-campaign {float: left; width: 800px; margin: 10px;}

.campaign-img {float: left; margin: 0; padding: 0; width: 100%;}
.campaign-img img {float: left; width: 100%; height: auto; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;}

.campaign-info {float: left; margin: 0; padding: 5px 0; width: 100%; }
.campaign-info ul {list-style: none; width: 95%; float: left; padding: 0 0 0 5%; margin: 0;}
.campaign-info ul li {padding: 2px 0; width: 100%; float: left;}


.campaign-show {float: left; width: 50%; padding: 50px 5% 25px 5%; margin: 0;}
.campaignshow-img {float: left; width: 100%;}
.campaignshow-img img {float: left; width: 100%; height: auto;}
.campaignshow-info {float: left; width: 100%; }
.campaignshow-desc {float: left; width: 90%; padding: 10px 5%;}

.campaign-lyric {float: left; width: 50%; margin: 0; background-color: #ecf0f1; padding: 50px 5% 25px 5%;}
.campaign-lyric-each {float: left; width: 100%;}
.campaign-lyric-each ul {list-style:none; color: #bdc3c7; clear: both; width: 100%;}
.campaign-lyric-each ul li {float: left; padding: 10px; width: auto;}

.campaign-lyric-each a {color: #000; font-size: 24px; line-height: 24px; text-align: left; font-family: 'Fredoka One', cursive; text-shadow: 1px 1px #bdc3c7;}
.campaign-lyric-each a:hover {color: #000; font-size: 30px; line-height: 30px; text-align: left; text-decoration: none; border: none;}

.campaign-lyric-each ul li a {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #bdc3c7; text-shadow: none;}
.campaign-lyric-each ul li a:hover {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; text-shadow: none;}

#campaign-art {margin:0 auto;}
.campaign-art-each {float: left; width: 200px; margin: 2px;}
.campaign-art-each img {float: left; width: 100%; height: auto; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px}


.art-container {width: 100%; margin: 0 0 0 0; float: left; padding: 25px 10%; background-color: #bdc3c7;}

.campaign-header {width: 100%; margin: 0; padding: 0; float: left;}
.campaign-header img {width: 100%; height: auto;}
.admin-footer {float: left; width: 100%;}

.timer-button {float: left; width: 45%; border: 2px solid #000; border-radius: 10px; padding: 5px; text-align: center; margin: 10px; min-height: 100px; height: auto;}

div.disabled a.submitbutton {display: none;}
div.campaignshow-info span.glyphicon.glyphicon-time {float: left;}


.open-campaign {width: 100%; padding: 10px 15%;}

.campaign-section {float: left; width: 100%;}

.header-campaign {margin-top: 100px;}


