// Place all the styles related to the Lyrics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-md {width: 300px; margin: 25px; }
#lyrics {margin: 0 auto;}

div.container-md a {color: #000; font-size: 30px; line-height: 34px; text-align: left; font-family: 'Fredoka One', cursive; text-shadow: 1px 1px #bdc3c7;}
div.container-md a:hover {color: #8e0010; font-size: 30px; line-height: 34px; text-align: left; text-decoration: none; border: none;}



div.container-md ul {list-style:none; color: #000; clear: both;}
div.container-md ul li {float: left; padding: 5px; width: auto;}

div.jumbotron {padding: 5px; margin: 100px 0 0 0;}
div.jumbotron h1 { text-transform: uppercase; font-size: 18px; color: #000; font-family: 'Fredoka One', cursive; padding: 0; margin: 0;}
div.jumbotron h2 { font-size: 18px; color: #000; font-family: 'Fredoka One', cursive; padding: 0; margin: 0;}

div.container-md ul li img {-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin: 0 5px;}

.lyric-footer {width: 80%; padding: 10px 10%; font-size: 20px; line-height: 20px; float: left;}

div.container-show {width: 35%; height: auto; float: left; color: #000; margin: 125px 5% 10px 5%;}
div.container-line {float: left; width: 100%; color: #000; font-size: 38px; line-height: 38px; text-align: left; font-family: 'Fredoka One', cursive; text-shadow: 1px 1px #bdc3c7;}
div.container-profile {float: left; width: 100%; padding: 5px; color: #000; font-family: 'Open Sans', serif; font-size: 28px; line-height: 28px; background-color: #ecf0f1; margin: 20px 0 0 0;}
div.container-desc {float: left; width: auto; color: #000; padding: 20px; font-size: 24px; line-height: 24px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; border-left: 4px solid #bdc3c7; margin-left: 20px;}
div.container-comment {float: left; width: 100%; padding: 5px;}
div.container-more {float: left; width: 20%; padding: 5px 0; height: auto; margin-top: 125px;}
div.container-more ul {list-style:none; color: #bdc3c7;}
div.container-more ul li {float: left; padding: 5px; width: 100%;}
div.container-more ul li hr {margin: 0;}
span.glyphicon {padding: 0 2px;}
div.container-more ul li span.glyphicon.glyphicon-heart {padding: 0 2px;}
div.container-show div.container-profile img {-moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px; margin: 0 5px;}

div.container-show div.container-profile hr {border-color: #fff; width: 90%; margin-left: 5%; margin-right: 5%;}

html body div.container-show div.container-comment div.comment img {float: left; margin: 5px 5px 0 0; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}
.username {
font-size: 18px;
color: #bdc3c7;
margin: 0 0 5px 10px; 
float: left;
}
.content {
float: left;
width: 90%;	
margin: 0 5%;
color: #000;
}

.time-created {
	float: left;
	color: #bdc3c7;
	width: 90%;
	margin: 0 5%;
	font-size: 12px;
}

div.container-comment div.comment {float: left; width: 90%; margin: 10px 5%;}
div.container-show div.container-comment h2.comment_count {font-size: 14px;}

div.container-comment hr {margin-top: 0;}
div.container-show div.container-comment div.comment hr {width: 100%; float: left; margin: 10px 0 0 0;}
.back-footer {float: left; width: 80%; padding: 0 10%; font-size: 28px; color: #000;}

div.container-md ul li a {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; text-shadow: none;}
div.container-md ul li a:hover {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #8e0010; text-shadow: none;}

div.container-md ul.tag-list {margin-top: 0; margin-bottom: 0; padding: 0;}
div.container-md ul.tag-list li {float: left; width: auto; margin-top: 0; margin-bottom: 0;}
.postedby {color: #bdc3c7; clear: both; float: right; padding: 5px; width: auto;}
div.postedby img {-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin: 0 5px;}
div.postedby a {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #bdc3c7; text-shadow: none;}
div.postedby a:hover {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; text-shadow: none;}
div.container-more ul li div.container-profile img {-moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;}

div.container-more ul li div.container-profile div.following-show {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; padding: 10px 0; text-align: center;}
div.container-more ul li div.container-profile div.badge-show {font-size: 18px; line-height: 20px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; padding: 10px 0;}
div.container-more ul li div.container-profile div.points-show {font-size: 18px; line-height: 18px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; padding: 5px 0;}

html body div.container-more ul li div.container-profile hr { border: 1px solid #000; margin: 0 0 10px 0;}

.css1 { font-size: 18px; }
.css2 { font-size: 20px; }
.css3 { font-size: 22px; }
.css4 { font-size: 24px; }
.tagcloud {color: #000; width: 40%; margin: 5px 30%;}
.tagcloud a {color: #000; text-decoration: none;}
.tagcloud a:hover {color: #8e0010; text-decoration: none;}

#random_post {width: 25%; padding: 0 5%; margin-top: 125px; float: left;}

.lyric-section {position: absolute; width: 100%; margin: 125px 0; z-index: 10;}

.header-lyric {float: left; margin-top: 75px; width: 100%; text-align: center; padding: 0 10%;}

div.header-lyric h1 {float: left; width: 100%; text-align: center; color: #000; font-size: 38px; line-height: 38px; font-family: 'Fredoka One', cursive; text-shadow: 1px 1px #bdc3c7; margin: 0 0 10px 0;}
div.header-lyric h2 {width: 100%; text-align: center; float: left; margin: 0; color: #000; margin: 10px 0; font-size: 22px; line-height: 22px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
div.header-lyric p {float: left; width: 100%; text-align: center; padding: 5px 20%; font-size: 18px; line-height: 20px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000;}

div.header-lyric h2 a {width: auto; border: 2px solid #bdc3c7; color: #bdc3c7; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; padding: 5px 10px;}
div.header-lyric h2 a:hover {width: auto; border: 2px solid #000; color: #000; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; padding: 5px 10px; text-decoration: none;}
div.header-lyric p a {color: #bdc3c7;}
div.header-lyric p a:hover {color: #000; text-decoration: none;}

.background-lyric {position: fixed; z-index: 0; top: 0; left: 0; width: 100%; min-height: 600px; height: auto;}

.paginate-box {margin: 0 auto; width: 250px;}

.pagination > li > a, .pagination > li > span {background-color: none !important; border: none !important;}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {background-color: none !important; border: none !important;}

