// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aboutus-section {float: left; width: 100%; padding: 50px 0 0 0; }
.about-half {float: left; width: 50%; height: auto;}
.about-box1 {float: left; width: 100%; height: auto; margin: 0; padding: 0; }
#about-more {background-color: #1abc9c; color: #fff;}
#about-passion {background-color: #1abc9c;}
#about-more2 {background-color: #2c3e50; color: #fff;}
.aboutus-info {width: 100%; padding: 25px 10%; font-size: 18px; line-height: 20px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
.aboutus-pillars {text-align: right; width: 100%; padding: 25px 10%; font-size: 58px; line-height: 60px; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; color:  #000;}

#launch-top {width: 60%; float: left; margin: 0 0 0 0; padding: 0; color: #fff; height: auto; background-color: none;}
#launch-box {width: 350px; float: left; margin: 0 0 0 10px;}
#launch-box2 {width: 350px; float: left; margin: 0 0 0 0;}
#launch-box-word {width: 350px; float: left; margin: 5px 5px 25px 5px; background-color: #8e0010; color: #fff; height: auto; min-height: 200px; padding: 10px;}
#launch-box3 {width: 500px; float: left; margin: 0 5px 0 0;}
#launch-box2-word {width: 325px; float: left; margin: 5px 5px 0px 25px; background-color: #8e0010; color: #fff; height: auto; min-height: 200px; padding: 10px;}
#launch-box4 {width: 350px; float: left; margin: 5px;}
#launch-box5 {width: 325px; float: left; margin: 0 0 0 0;}
#launch-box3-word {width: 500px; float: left; margin: 5px; background-color: #8e0010; color: #fff; height: auto; min-height: 200px; padding: 10px;}
#launch-box4-word {width: 350px; float: left; margin: 5px; background-color: #8e0010; color: #fff; height: auto; min-height: 200px; padding: 10px;}
#launch-box6 {width: 325px; float: left; margin: 0 0 0 0;}
#launch-box7 {width: 350px; float: left; margin: 0 0 0 0;}
#launch-box8 {width: 350px; float: left; margin: 0 0 0 0;}

img.launch-img {float: left; width: 100%; }

.clear {float: left; clear: both;}
.launch-float-box {float: left; width: 350px; }

.launch-section {background-color: #000; width: 100%;}

html body section.launch-section div#launch.transitions-enabled.masonry {width: 90% !important; margin: 0 5% !important; height: auto !important; float: left; }
.launch-part {float: left;}

.launch-section h2 {font-size: 20px; line-height: 20px; }

.signup-launch {width: 100%; margin: 0; padding: 0 0; min-height: 600px; height: auto; background: url('rnd-background.jpg'); background-size: 100% auto; background-repeat: no-repeat; background-color: #000; position: static;}

.signup-box {width: 400px; text-align: center; padding: 0; margin: 0 auto; color: #fff; font-size: 30px; line-height: 30px; display: none;}

section.signup-launch div.signup-box a.signup-button { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 25px; border: 3px solid #8e0010; border-radius: 40px; margin: 0 10px; }
section.signup-launch div.signup-box a.signup-button:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

section.signup-launch div.signup-box a.signup-question { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 25px; border: 3px solid #8e0010; border-radius: 40px; margin: 0 10px; }
section.signup-launch div.signup-box a.signup-question:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

.logo-head-launch {position: absolute; width: 200px; height: auto; margin: 0 auto; top: 0; left: 40%; display:none;}

.signup-box2 {width: 400px; text-align: center; padding: 0; margin: 0 auto; color: #fff; font-size: 30px; line-height: 30px; }

div.signup-box2 a.signup-button { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 25px; border: 3px solid #8e0010; border-radius: 40px; margin: 0 10px; }
div.signup-box2 a.signup-button:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

div.signup-box2 a.signup-question { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 25px; border: 3px solid #8e0010; border-radius: 40px; margin: 0 10px; }
div.signup-box2 a.signup-question:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

.logo-head-launch2 {
    display: block;
    height: auto;
    margin: 0 auto 0 auto;
    position: static;
    width: 25%;
}

.launch-box {float: left; margin: 0; padding: 0 10%;}

.passion-box {float: left; margin: 150px 0 0 0; padding: 0 10%; width: 100%; text-align: center; }

.launch-box-artist {float: left; margin: 0; padding: 0 10%; display: none;}

div.launch-box h4 {margin-top: 20px;}

.launch-box h2 {font-family: "edo",sans-serif;}
.launch-box-artist h2 {font-family: "edo",sans-serif;}
.passion-box h2 {font-family: "edo",sans-serif;}

div.launch-box-artist h4 {margin-top: 20px;}

.howitworks-img {float: left; width: 100%; margin: 0 0 10px 0;}

.howitworks-mobile {float: left; width: 100%; margin: 0; display: none;}



.social-box {width: 100px; padding: 0; margin: 5px auto; }
div.social-box iframe#twitter-widget-0.twitter-share-button.twitter-tweet-button.twitter-share-button.twitter-count-horizontal {margin-left: 8px;}

.works-top {float: left; width: 100%; min-height: 200px; height: auto; background-color: whitesmoke; padding: 50px 10%; color: #2980b9; font-size: 20px; line-height: 24px; text-align: center; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif;}
.how-image {float: left; width: 100%;}
.how-box {float: left; width: 25%; margin: 0; padding: 0; min-height: 150px;}
.howitworks-para {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 16px; line-height: 18px; color: #000; width: 100%; padding: 10px 20%; text-align: center; float: left;}
#works-exp {background-color: #1abc9c; color: #fff; padding: 10px 10%; text-align: left;}
#works-rhyme {background-color: #2980b9; color: #fff; padding: 10px 10%; text-align: left;}
#works-design {background-color: #1abc9c; color: #fff; padding: 10px 10%; text-align: left;}
#works-shop {background-color: #2980b9; color: #fff; padding: 10px 10%; text-align: left;}
.works-top p {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 20px; line-height: 24px; color: #fff; text-align: left; width: 70%; float: left; padding: 10px 5%;}
.how-image2 {float: left; width: 30% !important;}
.how-image3 {float: left; width: 50%;}
#works-rhyme p {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 20px; line-height: 24px; color: #fff; text-align: left; width: 50%; float: left; padding: 10px 5%;}

#works-exp2 {background-color: #1abc9c; color: #fff; padding: 50px 10% 25px 10%; text-align: left; margin-bottom: 50px;}

.works-top-temp {float: left; width: 100%; min-height: 800px; height: auto; background-color: whitesmoke; padding: 50px 10%; color: #2980b9; font-size: 24px; line-height: 24px; text-align: center; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif;}

#P2 {float: left; min-width: 560px; width: 70%; margin: 10px 15%; height: auto;}
#P2 iframe {border-radius: 10px;}

div#background-green.works-top { background: url('white-transparent.png');}
div#vid.works-top {padding: 0;}

.how-image-mobile1 {display: none;}

@media only screen and (min-width: 640px) and (max-width: 900px){

		#launch-top {width: 75%; float: left; margin: 0 0 0 0; padding: 0; color: #fff; height: auto; background-color: none;}

		.signup-launch {width: 100%; margin: 0; padding: 0 0; min-height: 600px; height: auto; background: url('rnd-background2.jpg'); background-size: 100% auto; background-repeat: no-repeat; background-color: #000; position: static;}

		.signup-box {width: 400px; text-align: center; padding: 0; margin: 0 auto; color: #fff; font-size: 26px; line-height: 26px; display: none;}

		section.signup-launch div.signup-box a.signup-button { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 20px; border: 3px solid #8e0010; border-radius: 35px; margin: 0 10px; }
		section.signup-launch div.signup-box a.signup-button:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

		section.signup-launch div.signup-box a.signup-question { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 20px; border: 3px solid #8e0010; border-radius: 35px; margin: 0 10px; }
		section.signup-launch div.signup-box a.signup-question:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

		.signup-box2 {width: 400px; text-align: center; padding: 0; margin: 0 auto; color: #fff; font-size: 26px; line-height: 26px; }

		div.signup-box2 a.signup-button { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 20px; border: 3px solid #8e0010; border-radius: 35px; margin: 0 10px; }
		div.signup-box2 a.signup-button:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

		div.signup-box2 a.signup-question { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 20px; border: 3px solid #8e0010; border-radius: 35px; margin: 0 10px; }
		div.signup-box2 a.signup-question:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

		div.launch-box h2 {font-size: 28px; line-height: 28px; }
		div.launch-box-artist h2 {font-size: 28px; line-height: 28px; }

	}







@media only screen and (min-width: 500px) and (max-width: 640px){
	#launch-top {width: 100%; float: left; margin: 0 0 0 0; padding: 0; color: #fff; height: auto; background-color: none;}

	#launch-box {width: 90%; float: left; margin: 0 0 0 10%;}
	#launch-box2 {width: 80%; float: left; margin: 0 20% 0 0;}
	#launch-box-word {width: 80%; float: left; margin: 5px 10% 25px 10%; background-color: #8e0010; color: #fff; height: auto; min-height: 200px; padding: 10px;}
	#launch-box3 {width: 100%; float: left; margin: 0 0 0 0;}
	#launch-box2-word {width: 85%; float: left; margin: 5px 5% 0px 10%; background-color: #8e0010; color: #fff; height: auto; min-height: 200px; padding: 10px;}
	#launch-box4 {width: 90%; float: left; margin: 5px 5%;}
	#launch-box5 {width: 95%; float: left; margin: 0 5% 0 0;}
	#launch-box3-word {width: 100%; float: left; margin: 5px 0; background-color: #8e0010; color: #fff; height: auto; min-height: 200px; padding: 10px;}
	#launch-box4-word {width: 95%; float: left; margin: 5px 2.5%; background-color: #8e0010; color: #fff; height: auto; min-height: 200px; padding: 10px;}
	#launch-box6 {width: 75%; float: left; margin: 0 5% 0 20%;}
	#launch-box7 {width: 90%; float: left; margin: 0 0 0 0;}
	#launch-box8 {width: 80%; float: left; margin: 0 0 0 0;}

	img.launch-img {float: left; width: 100%; }

	.clear {float: left; clear: both;}
	.launch-float-box {float: left; width: 450px; }

	.launch-section {background-color: #000; width: 100%;}

	html body section.launch-section div#launch.transitions-enabled.masonry {width: 100% !important; margin: 0 !important; height: auto !important; float: left; }
	.launch-part {float: left;}

	.launch-section h2 {font-size: 16px; line-height: 16px; }

	.signup-launch {width: 100%; margin: 0; padding: 0 0; min-height: 600px; height: auto; background: url('rnd-background-mobile.jpg'); background-size: 100% auto; background-repeat: no-repeat; background-color: #000; position: static;}

	.signup-box {width: 100%; text-align: center; padding: 0; margin: 0 auto; color: #fff; font-size: 24px; line-height: 24px; display: none;}

	section.signup-launch div.signup-box a.signup-button { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 25px; border: 3px solid #8e0010; border-radius: 40px; margin: 0 10px; }
	section.signup-launch div.signup-box a.signup-button:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

	section.signup-launch div.signup-box a.signup-question { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 25px; border: 3px solid #8e0010; border-radius: 40px; margin: 0 10px; }
	section.signup-launch div.signup-box a.signup-question:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

	.signup-box2 {width: 100%; text-align: center; padding: 0; margin: 0 auto; color: #fff; font-size: 24px; line-height: 24px; }

	div.signup-box2 a.signup-button { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 15px; border: 3px solid #8e0010; border-radius: 30px; margin: 0 10px; }
	div.signup-box2 a.signup-button:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

	div.signup-box2 a.signup-question { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 15px; border: 3px solid #8e0010; border-radius: 30px; margin: 0 10px; }
	div.signup-box2 a.signup-question:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

	.logo-head-launch2 {
	    display: block;
	    height: auto;
	    margin: 0 auto 0 auto;
	    position: static;
	    width: 25%;
	}

	.launch-box {float: left; margin: 0; padding: 0 10%;}

	.launch-box-artist {float: left; margin: 0; padding: 0 10%; display: none;}

	div.launch-box h4 {margin-top: 20px;}

	div.launch-box-artist h4 {margin-top: 20px;}

	.howitworks-img {float: left; width: 100%; margin: 0 0 10px 0; display: none;}

	.howitworks-mobile {float: left; width: 100%; margin: 0; display: inline;}

	div.launch-box h2 {font-size: 24px; line-height: 24px; }

	div.launch-box-artist h2 {font-size: 24px; line-height: 24px; }


}










@media screen and (max-width: 500px){

	#P2 {float: left;  width: 100%; min-width: 0; margin: 5px 0%; height: auto; }
	#P2 iframe {width: 100%; height: 280px;}
	div#vid.works-top div#background-green.works-top {padding: 50px 0;}
	div.howitworks-para {padding: 15px 5%;}

		#launch-top {width: 100%; float: left; margin: 0 0 0 0; padding: 0; color: #fff; height: auto; background-color: none;}

	#launch-box {width: 90%; float: left; margin: 0 0 0 10%;}
	#launch-box2 {width: 80%; float: left; margin: 0 20% 0 0;}
	#launch-box-word {width: 80%; float: left; margin: 5px 10% 25px 10%; background-color: #8e0010; color: #fff; height: auto; min-height: 200px; padding: 10px;}
	#launch-box3 {width: 100%; float: left; margin: 0 0 0 0;}
	#launch-box2-word {width: 85%; float: left; margin: 5px 5% 0px 10%; background-color: #8e0010; color: #fff; height: auto; min-height: 200px; padding: 10px;}
	#launch-box4 {width: 90%; float: left; margin: 5px 5%;}
	#launch-box5 {width: 95%; float: left; margin: 0 5% 0 0;}
	#launch-box3-word {width: 100%; float: left; margin: 5px 0; background-color: #8e0010; color: #fff; height: auto; min-height: 200px; padding: 10px;}
	#launch-box4-word {width: 95%; float: left; margin: 5px 2.5%; background-color: #8e0010; color: #fff; height: auto; min-height: 200px; padding: 10px;}
	#launch-box6 {width: 75%; float: left; margin: 0 5% 0 20%;}
	#launch-box7 {width: 90%; float: left; margin: 0 0 0 0;}
	#launch-box8 {width: 80%; float: left; margin: 0 0 0 0;}

	img.launch-img {float: left; width: 100%; }

	.clear {float: left; clear: both;}
	.launch-float-box {float: left; width: 450px; }

	.launch-section {background-color: #000; width: 100%;}

	html body section.launch-section div#launch.transitions-enabled.masonry {width: 100% !important; margin: 0 !important; height: auto !important; float: left; }
	.launch-part {float: left;}

	.launch-section h2 {font-size: 18px; line-height: 18px; }

	.signup-launch {width: 100%; margin: 0; padding: 0 0; min-height: 600px; height: auto; background: url('rnd-background-mobile.jpg'); background-size: 100% auto; background-repeat: no-repeat; background-color: #000; position: static;}

	.signup-box {width: 100%; text-align: center; padding: 0; margin: 0 auto; color: #fff; font-size: 18px; line-height: 18px; display: none;}

	section.signup-launch div.signup-box a.signup-button { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 15px; border: 3px solid #8e0010; border-radius: 30px; margin: 0 10px; }
	section.signup-launch div.signup-box a.signup-button:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

	section.signup-launch div.signup-box a.signup-question { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 15px; border: 3px solid #8e0010; border-radius: 30px; margin: 0 10px; }
	section.signup-launch div.signup-box a.signup-question:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

	.signup-box2 {width: 100%; text-align: center; padding: 0; margin: 0 auto; color: #fff; font-size: 18px; line-height: 18px; }

	div.signup-box2 a.signup-button { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 15px; border: 3px solid #8e0010; border-radius: 30px; margin: 0 10px; }
	div.signup-box2 a.signup-button:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

	div.signup-box2 a.signup-question { float: left; color: #fff; font-variant: small-caps; text-decoration: none; background-color: #8e0010; padding: 5px 15px; border: 3px solid #8e0010; border-radius: 30px; margin: 0 10px; }
	div.signup-box2 a.signup-question:hover {color: #fff; font-variant: small-caps; text-decoration: none; border: 3px solid #fff;}

	.logo-head-launch2 {
	    display: block;
	    height: auto;
	    margin: 0 auto 0 auto;
	    position: static;
	    width: 25%;
	}

	.launch-box {float: left; margin: 0; padding: 0 10%;}

	.launch-box-artist {float: left; margin: 0; padding: 0 10%; display: none;}

	div.launch-box h4 {margin-top: 20px; font-size: 16px; line-height: 16px;}

	div.launch-box-artist h4 {margin-top: 20px; font-size: 16px; line-height: 16px;}

	.howitworks-img {float: left; width: 100%; margin: 0 0 10px 0; display: none;}

	.howitworks-mobile {float: left; width: 100%; margin: 0; display: inline;}

	div.launch-box h2 {font-size: 18px; line-height: 18px; }

	div.launch-box p {font-size: 14px; line-height: 16px;}


	div.launch-box-artist h2 {font-size: 18px; line-height: 18px; }

	div.launch-box-artist p {font-size: 14px; line-height: 18px;}


	}

@media screen and (max-width: 640px){

	#P2 {float: left;  width: 100%; min-width: 0; margin: 5px 0%; height: auto; }
	#P2 iframe {width: 100%; height: 280px;}
	div#vid.works-top div#background-green.works-top {padding: 50px 0;}
	div.howitworks-para {padding: 15px 5%;}

	div#background-green.works-top { background-color: whitesmoke !important; background: whitesmoke url('') !important;}
  	div#P1.player.mb_YTPlayer {display: none;}

  	.how-box {
    float: left;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    min-width: 150px;
    padding: 0;
    width: 25%;}

    .works-top p {width: 100%; font-size: 16px; line-height: 18px;}
    div#works-rhyme.works-top p {width: 100%; font-size: 16px; line-height: 18px;}

    div#works-rhyme.works-top img.how-image3 {display: none;}
    .how-image-mobile1 {display: inline; width: 70%; margin: 0;}
}


