// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body form#edit_post_5.simple_form.edit_post {margin-top: 125px;}
div.container-show {background-color: #fff; color: #000;}
div.container-post {float: left; width: 70%; height: auto; min-height: 200px; color: #000;}

div.container-post img {float: left; width: 100%; height: auto;}

div.container-post-extra {width: 30%; height: auto; float: left; padding: 0; margin-top: 75px;  }

div.container-post-extra ul li a span.glyphicon.glyphicon-step-backward {font-size: 24px;}
div.container-post-extra ul li a span.glyphicon.glyphicon-step-forward {font-size: 24px;}
div.container-post-desc {width: 70%; float: left; margin: 0; color: #000; padding: 20px; font-size: 18px; line-height: 24px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}

div.container-show div.container-post h1 {color: #000;}

.container-post-index {width: 400px; margin: 50px 25px; }
#posts {margin: 0 auto;}

div.container-post-index a {color: #000; font-size: 24px; line-height: 26px; text-align: left; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; text-shadow: 0px 0px #bdc3c7;}
div.container-post-index a:hover {color: #1cc7a6; font-size: 24px; line-height: 26px; text-align: left; text-decoration: none; border: none; text-shadow: 0px 0px #bdc3c7;}



div.container-post-index ul {list-style:none; color: #000; clear: both;}
div.container-post-index ul li {float: left; padding: 5px; width: auto;}

div.container-post-index ul li a {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; text-shadow: none;}
div.container-post-index ul li a:hover {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #1cc7a6; text-shadow: none;}

div.container-post-index ul.tag-list {margin-top: 0; margin-bottom: 0; padding: 0;}
div.container-post-index ul.tag-list li {float: left; width: auto; margin-top: 0; margin-bottom: 0;}

.post-section {position: absolute; left: 0; border-top: 0px solid #fff; width: 80%; border-top: 0px solid #fff; margin: 0 0 0 0; padding: 25px 0; z-index: 10; background-color: #fff;}

.video-box {width: 100%; height: auto; float: left;}

div#posts.transitions-enabled.masonry div.container-post-index.masonry-brick p iframe {width: 100%; min-height: 300px; float: left;}

html body section.main-section section.post-section div#posts.transitions-enabled.masonry {width: 100% !important;}

html body form#edit_post_4.simple_form.edit_post {margin-top: 75px;}

section.post-section div#posts.transitions-enabled.masonry {float: left;}

div.post-title a {margin-top: 10px; float: left;}

div.container-post-index.masonry-brick ul li img {border-radius: 10px;}

form.simple_form.edit_post label {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #2980b9; font-size: 16px;}
form#new_post.simple_form.new_post label {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #2980b9; font-size: 16px;}

.approved-box {font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; padding: 15px 10px; background-color: #2980b9; color: #fff; font-size: 20px; line-height: 22px; text-align: center;}

form#new_post.simple_form.new_post h1 {font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; color: #2980b9;}
form#new_post.simple_form.new_post h2 {font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; color: #2980b9; font-size: 20px;}

form.simple_form.edit_post h1 {font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; color: #2980b9;}
form.simple_form.edit_post h2 {font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; color: #2980b9; font-size: 20px;}

form#new_post.simple_form.new_post input.btn.btn-default.post-button {font-size: 16px; margin: 10px 0; border: none; background-color: #2980b9; color: #fff; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; border-radius: 5px;}
form.simple_form.edit_post input.btn.btn-default.post-button {font-size: 16px; margin: 10px 0; border: none; background-color: #2980b9; color: #fff; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; border-radius: 5px;}

form#new_post.simple_form.new_post input.btn.btn-default.post-button:hover {font-size: 16px; margin: 10px 0; border: none; background-color: #000; color: #fff; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; border-radius: 5px;}
form.simple_form.edit_post input.btn.btn-default.post-button:hover {font-size: 16px; margin: 10px 0; border: none; background-color: #000; color: #fff; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; border-radius: 5px;}

div.form-info {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #2980b9; font-size: 14px; margin-bottom: 10px;}


