// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body form#edit_post_5.simple_form.edit_post {margin-top: 125px;}
div.container-show {background: url('stardust4.png'); color: #fff;}
div.container-post {float: left; width: 70%; height: auto; min-height: 100px; color: #000;}

div.container-post img {float: left; width: 100%; height: auto;}

div.container-post-extra {width: 30%; height: auto; float: left; padding: 0; margin-top: 75px;  }

div.container-post-extra ul li a span.glyphicon.glyphicon-step-backward {font-size: 24px;}
div.container-post-extra ul li a span.glyphicon.glyphicon-step-forward {font-size: 24px;}
div.container-post-desc {width: 70%; float: left; margin: 0; color: #fff; padding: 20px; font-size: 20px; line-height: 24px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}

div.container-show div.container-post h1 {color: #fff;}

.container-post-index {width: 400px; margin: 25px; }
#posts {margin: 0 auto;}

div.container-post-index a {color: #fff; font-size: 30px; line-height: 34px; text-align: left; font-family: 'Fredoka One', cursive; text-shadow: 0px 0px #bdc3c7;}
div.container-post-index a:hover {color: #95a5a6; font-size: 30px; line-height: 34px; text-align: left; text-decoration: none; border: none; text-shadow: 0px 0px #bdc3c7;}



div.container-post-index ul {list-style:none; color: #fff; clear: both;}
div.container-post-index ul li {float: left; padding: 5px; width: auto;}

div.container-post-index ul li a {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #fff; text-shadow: none;}
div.container-post-index ul li a:hover {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #f1c40f; text-shadow: none;}

div.container-post-index ul.tag-list {margin-top: 0; margin-bottom: 0; padding: 0;}
div.container-post-index ul.tag-list li {float: left; width: auto; margin-top: 0; margin-bottom: 0;}

.post-section {float: left; border-top: 0px solid #fff; width: 100%; margin: 0 0 0 0; padding: 25px 0; z-index: 10; background-color: #000; background: url('stardust4.png');}

.video-box {width: 100%; height: auto; float: left;}

div#posts.transitions-enabled.masonry div.container-post-index.masonry-brick p iframe {width: 100%; min-height: 300px; float: left;}

html body section.main-section section.post-section div#posts.transitions-enabled.masonry {width: 100% !important;}

html body form#edit_post_4.simple_form.edit_post {margin-top: 75px;}

