// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.profilesection {width: 100%; margin: 0; padding: 0; position: absolute; top: 300px; left: 0; z-index: 100; background-color: #fff;}
.profile-header {width: 100%; margin: 50px 0 0 0; padding: 0; float: left;}
.profile-main img {width: 100%; height: auto; float: left; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; margin: 50px 0 5px 0;}
.profile-box {width: 30%; margin: 0px 0 0 0; padding: 5px 25px 50px 25px; background-color: #fff; border: 0px solid #000; float: right; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter: alpha(opacity=100);-moz-opacity: 1; -khtml-opacity: 1; opacity: 1;}
#profile-box1 {width: 20%; margin: 0px 0 0 80%; padding: 0px; border: 0px solid #000; float: left; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter: alpha(opacity=100);-moz-opacity: 1; -khtml-opacity: 1; opacity: 1; background-color: #ecf0f1;}
.profile-lyrics {background-color: #fff; width: 80%; margin: 0px 0% 0 0%; padding: 0px; position: absolute; left: 0;}
div.profile-lyrics div.well a {color: #000; font-size: 18px; line-height: 20px; text-align: left; font-family: 'Fredoka One', cursive; text-shadow: 0px 0px #bdc3c7; text-decoration: none;}
div.profile-lyrics div.well a:hover {color: #000; font-size: 18px; line-height: 20px; text-align: left; font-family: 'Fredoka One', cursive; text-shadow: 0px 0px #bdc3c7; text-decoration: none;}
div.profile-lyrics div.well .profile-time a {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; text-shadow: none;}
div.profile-lyrics div.well .profile-time a:hover {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; text-shadow: none;}

#profile-box1 div.following img {float: left; margin: 2px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}

#profile-box1 div.follows img {float: left; margin: 2px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}

section.profilesection div.profile-box hr {width: 100%; clear: both; float: left; margin: 5px 0;}
section.profilesection div.profile-box p {width: 100%; float: left;}

div.profile-header img {width: 100%; height: auto;}

#profile-box1 div.profile-bio {font-size: 18px; line-height: 18px; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; width: 100%; margin: 5px 0;}
#profile-box1 div.profile-location {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; width: 100%; margin: 10px 0;}
#profile-box1 h2 {text-align: center; font-size: 14px; line-height: 14px; margin: 0px 0 5px 0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #bdc3c7;}
#profile-box1 h1 {text-align: center; margin: 5px 0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000;}

.container-profiles {width: 200px; margin: 25px; }
#profiles {margin: 0 auto;}

div.container-profiles a {color: #000; font-size: 30px; line-height: 34px; text-align: left; font-family: 'Fredoka One', cursive; text-shadow: 0px 0px #bdc3c7;}
div.container-profiles a:hover {color: #1cccaa; font-size: 30px; line-height: 34px; text-align: left; text-decoration: none; border: none; text-shadow: 0px 0px #bdc3c7;}



div.container-profiles ul {list-style:none; color: #000; clear: both;}
div.container-profiles ul li {float: left; padding: 5px; width: auto;}

div.container-profiles ul li img {-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin: 0 5px;}

div.container-profiles ul li a {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #fff; text-shadow: none;}
div.container-profiles ul li a:hover {font-size: 14px; line-height: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #f1c40f; text-shadow: none;}

.profile-section-index {float: left; border-top: 0px solid #fff; width: 100%; margin: 0 0 0 0; padding: 25px 0; z-index: 10; background-color: #fff; }

div#settings.tab-pane.active div.well img {width: 100%; height: auto;}

.tab-box {float: left; padding: 25px 5%; width: 100%;}

div.profile-topbox div.profile-main img {width: 90%; margin: 0 5%; padding: 0; border-radius: 5px;}
.profile-topbox1 {float: left; width: 25%; margin: -150px 0 0 0; padding: 0;}
.profile-topbox2 {float: left; width: 100%; padding: 0; margin: 0;}
div.profile-topbox2 h1 {float: left; width: 100%; color: #000; text-align: center; padding: 10px 0 0 0; margin: 0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 22px; line-height: 22px; }
div.profile-topbox2 h2 {float: left; width: 100%; color: #000; text-align: center; padding: 5px 0 5px 0; margin: 0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 18px; line-height: 18px; }
div.profile-topbox2 div.profile-location {float: left; width: 100%; color: #000; text-align: center; padding: 5px 0 5px 0; margin: 0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 18px; line-height: 18px; }
div.profile-topbox2 hr {width: 80%; clear: both; float: left; margin: 5px 10%; background-color: #000;}
div.profile-topbox2 div.profile-location a {color: #000; text-decoration: none;}
div.profile-topbox2 div.profile-location a:hover {color: #1cccaa; text-decoration: none;}
div.profile-topbox2 div.profile-follow-button {float: left; width: 100%; color: #000; text-align: center; padding: 5px 0 5px 0; margin: 0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 16px; line-height: 16px;}
 
div.profile-topbox2 div.profile-follow-button a {color: #000; text-decoration: none;}
div.profile-topbox2 div.profile-follow-button a:hover {color: #1cccaa; text-decoration: none;}

div.profile-topbox div.follow-box {float: left; width: 40%; color: #000; padding: 0; margin: 5px 5%; border: none;}

div.profile-topbox div.profile-topbox2 div.profile-bio {font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; font-size: 20px; line-height: 22px; width: 100%;}

div.profile-topbox div.profile-topbox2 div.profile-bio h3 {font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; font-size: 18px; line-height: 18px; border-bottom: 1px solid #fff; padding: 5px 0; margin: 0 0 10px 0;}
div.profile-topbox div.follow-box h3 {color: #000; font-size: 16px; line-height: 16px; padding: 2px; margin: 0;}

div.profile-topbox2 div.profile-passion {float: left; width: 100%; color: #000; text-align: left; padding: 5px 0; margin: 0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 16px; line-height: 16px; }
div.panel.panel-default.follow-box {float: left; color: #000; box-shadow: none;}
div.profile-topbox2 div.panel.panel-default.follow-box div.panel-body div.follows {width: auto; float: left; margin: 1px;}
div.profile-topbox2 div.panel.panel-default.follow-box div.panel-body div.follows a img {width: 100%; height: auto;}
div.profile-topbox2 div.panel.panel-default.follow-box div.panel-body div.following {width: auto; float: left; margin: 1px;}
div.profile-topbox2 div.panel.panel-default.follow-box div.panel-body div.following a img {width: 100%; height: auto;}

div.profile-topbox2 div.panel.panel-default.follow-box div.panel-heading {padding: 5px 10px;}
div.profile-topbox2 div.panel.panel-default.follow-box div.panel-body {padding: 5px;}

div.profile-topbox2 div.container-fluid {float: left; width: 35%; padding: 40px 2.5%; margin: 0; background-color: whitesmoke; color: #000; border-radius: 5px;}

div.tab-box ul.nav.nav-tabs li.active a {color: #000; font-size: 18px; line-height: 18px; background-color: none; background: none;}
div.tab-box ul.nav.nav-tabs li a {color: #000; font-size: 16px; line-height: 16px; background-color: none; background: none;}
div.profile-passion h3 {font-size: 18px; line-height: 18px; margin: 0 0 5px 0;}

div.profile-topbox3 {background-color: whitesmoke; float: left; width: 100%;}

div.profile-topbox2 div.tab-box div.well {color: #000; font-size: 30px; line-height: 34px; text-align: left; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif; text-shadow: 0px 0px #bdc3c7; float: left;}

div.profile-topbox2 div.tab-box div.well span.profile-time {color: #000; font-size: 16px; line-height: 16px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}

div.profile-topbox3 div.container-fluid div.panel.panel-default.follow-box div.panel-body {background-color: whitesmoke;}

div.galleries-edit div.user-photo img {width: 20%; max-height: 200px; float: left; padding: 0; margin: 2px;}

.video-photo-box {float: left; width: 40%; padding: 40px 5%;}

div.video-photo-box div#photos-mini div.photo img {width: 30%; height: auto; float: left;}
div.video-photo-box div#photos-mini {display: none;}

div.profile-topbox3 div.dropdown {
    margin-right: 5px;
    margin-top: 5px;
    position: absolute;
    right: 0;}

.profile-video2 {float: left; width: 100%;}
.profile-video {position: relative; width: 100%; height: auto; display: none;}
.profile-video img {float: left; width: 100%; height: auto; border-radius: 5px;}

div.profile-topbox3 div.dropdown a#dropdownMenu1 {color: #000;}
div.profile-topbox3 div.dropdown a#dropdownMenu1:hover {color: #bdc3c7;}
span.glyphicon.glyphicon-cog {font-size: 28px; line-height: 28px;}


div.photo a.delete-link {position: absolute; top: 0; right: 0; font-size: 18px; line-height: 18px; color: #fff; text-shadow: 2px 2px #000; display: none;}
div.photo a.delete-link:hover {position: absolute; top: 0; right: 0; font-size: 18px; line-height: 18px; color: #1cccaa; text-shadow: 2px 2px #000;}
div#photos.transitions-enabled.masonry div.photo:hover a.delete-link {display: inline;}

div.profile-topbox3 div.dropdown.open ul.dropdown-menu {background-color: #fff !important; padding: 0; color: #000; float: left; position: static;}
div.profile-topbox3 div.dropdown.open ul.dropdown-menu li a {border-radius: 4px;}
div.profile-topbox3 div.dropdown.open ul.dropdown-menu li {text-align: center; padding: 2px 0;}

ul.dropdown-menu li div#photo-form form#new_photo.simple_form.new_photo {width: 90%; margin: 5px 5%;}
form#new_photo.simple_form.new_photo div.form-group.string.optional.photo_link label.string.optional.control-label {float: left; padding: 5px 2px; font-weight: normal;}
form#new_photo.simple_form.new_photo div.form-group.string.optional.photo_link input#photo_link.string.optional.form-control {width: 80%;}
form#new_photo.simple_form.new_photo div.form-group.string.optional.photo_link {margin: 10px 5px;}


div.video-photo-box div.profile-video a.fancybox-media {position: absolute; top: 0; margin-top: 100px; left: 45%; font-size: 36px; line-height: 36px; color: #fff; text-shadow: 2px 2px #000;}
div.video-photo-box div.profile-video a.fancybox-media:hover {position: absolute; top: 0; margin-top: 100px; left: 45%; font-size: 36px; line-height: 36px; color: #bdc3c7; text-shadow: 2px 2px #000;}

.soon-info {width: 100%; padding: 10px 20%; font-size: 22px; line-height: 24px; color: #000; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif;}
.info-image2 {
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    width: 50%;
}

div.profile-topbox div.profile-topbox2 div.tab-box ul.nav.nav-tabs {
    border-bottom: 1px solid #dddddd;
    margin: 0 auto;
    padding: 0 25%;
    width: 100%;
}

div.photo a.more-link {position: absolute; bottom: 25px; text-align: center; width: 40%; margin: 0 30%; padding: 5px; font-size: 18px; line-height: 18px; color: #000; background-color: #fff; border-radius: 25px; display: none; opacity: .8; font-variant: small-caps;}
div.photo a.more-link:hover {position: absolute; bottom: 25px; font-size: 18px; line-height: 18px; color: #000; text-decoration: none; opacity: 1;}
div#photos.transitions-enabled.masonry div.photo:hover a.more-link {display: inline;}

div.video-photo-box div.profile-video2 p iframe {width: 100%;}


@media screen and (max-width: 640px){
    .profile-topbox1 {
    float: left;
    margin: -25px 0 0 0;
    padding: 0;
    width: 40%;}

    div.profile-lyrics {width: 100%;}

    #profile-box1 {
    background-color: #ecf0f1;
    border: 0 solid #000;
    float: left;
    margin: 0 0 0 50%;
    opacity: 1;
    padding: 0;
    width: 50%; display: none;}

    div.profile-topbox2 div.container-fluid {
    background-color: whitesmoke;
    border-radius: 5px;
    color: #000;
    float: left;
    margin: 0;
    padding: 25px 2.5%;
    width: 60%;}

    div.video-photo-box{float: left;
    padding: 25px 5%;
    width: 100%;}

    div#photos.transitions-enabled.masonry {width: 100% !important; height: auto;}
    div#photos.transitions-enabled.masonry div.photo {width: 45% !important; height: auto; margin: 5px;}
    div#photos.transitions-enabled.masonry div.photo img {width: 100%; height: auto;}

    div.profile-topbox2 div.panel.panel-default.follow-box div.panel-heading {padding: 2px;}
    div.profile-topbox div.follow-box h3 {
    color: #000;
    font-size: 12px;
    line-height: 12px;
    padding: 2px;}
    
    div.profile-topbox2 h1 {font-size: 16px; line-height: 16px;}
    div.profile-topbox2 div.profile-location {font-size: 14px; line-height:14px;}
    div.profile-topbox2 h2 {font-size: 14px; line-height:14px;}
    div.video-photo-box div.profile-video2 p iframe {width: 100%;}

    div.profile-topbox div.profile-topbox2 div.profile-bio {
    font-size: 18px;
    line-height: 20px;}

    div.profile-topbox2 div.profile-passion {
    font-size: 14px;
    line-height: 14px;}

    span.glyphicon.glyphicon-cog {font-size: 20px; line-height: 20px;}
    div.profile-topbox div.profile-main img {
    border-radius: 5px;
    margin: 0 10%;
    padding: 0;
    width: 80%;}

    div.profile-topbox div.profile-topbox2 div.tab-box ul.nav.nav-tabs {
    border-bottom: 1px solid #dddddd;
    margin: 0 auto;
    padding: 0;
    width: 100%;}

    div.tab-box ul.nav.nav-tabs li.active a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000;
    font-size: 18px;
    line-height: 18px;}
    div.tab-box ul.nav.nav-tabs li a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000;
    font-size: 16px;
    line-height: 16px;}
    div.tab-box ul.nav.nav-tabs li a {padding: 4px;}

    .soon-info {width: 100%; padding: 10px 5%; font-size: 18px; line-height: 20px; color: #000; font-family: 'Fredoka One', "Helvetica Neue",Helvetica,Arial,sans-serif;}
    div.profile-topbox2 div.profile-follow-button {font-size: 14px; line-height: 14px;}
    div.photo a.more-link {
    background-color: #fff;
    border-radius: 10px;
    bottom: 10px;
    color: #000;
    display: none;
    font-size: 14px;
    font-variant: small-caps;
    line-height: 14px;
    margin: 0 10%;
    opacity: 0.8;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 80%;}
    div.photo a.more-link:hover {text-decoration: none; opacity: 1;}

    div.profile-topbox3 div.dropdown.open ul.dropdown-menu {width: 80%; margin: 0 10%; background-color: #fff !important; padding: 0; color: #000; float: left; position: absolute; right: 0;}


    }

