 <% @products.each do |product| %>
    <div class="container-md">

        

        <%= link_to product.title, "http://rhymes-and-designs.myshopify.com/collections/frontpage/products/#{product.handle}" %>
     
      
      </div>
    <% end %>