<div class="footer-rnd">
	<ul>
		<li>About Us</li>
		<li>How It Works</li>
		<li>Partnerships</li>
		<li>Vocal Artists</li>
		<li>Visual Artists</li>
		<li>FAQs</li>
	</ul>

		<ul>
		<li>Community</li>
		<li>Rhyme Center</li>
		<li>Design Center</li>
		<li>Experiments</li>
		<li>Community Points</li>
	</ul>



</div>